@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Gideon+Roman&family=Inter:wght@400;500;600;700;800;900&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

$bg-color: #f6fffa;
$font-stack: Mulish, sans-serif;
$main-color: #111111;

#app {
  max-width: 1140px;
  flex: auto;
}

body {
  font: 100% $font-stack;
  color: $main-color;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}
