<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.scss" />
    <script type="module" src="./main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>template</title>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="./assets/Logo.png" alt="logo" class="logo" />

        <nav>
          <ul>
            <li>HOME</li>
            <li>PORTFOLIO</li>
            <li>CONTACT</li>
          </ul>
        </nav>
      </header>
      <section class="hero">
        <div>
          <h4>Im Victor, Designer and</h4>
          <h1>FULLSTACK<br />DEVELOPER</h1>
        </div>
        <img src="./assets/Asterisk.png" alt="asterisk" />
      </section>

      <section class="about">
        <h4>About</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur. Amet enim sed adipiscing
          eleifend lacinia facilisis tempus amet. Neque massa ullamcorper diam
          duis a nisl erat a. Aliquam et quam nulla purus leo. Ultrices aenean
          nam molestie dis praesent. Commodo tellus faucibus sodales et
          venenatis. Quam tortor sit tincidunt adipiscing viverra venenatis non
          scelerisque porttitor. Facilisi nulla ipsum.
        </p>
      </section>
    </div>
  </body>
</html>
