<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.scss" />
    <script type="module" src="./main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>template</title>
  </head>
  <body>
    <div id="app">
      <header>
        <img src="./assets/Logo.png" alt="logo" class="logo" />
      </header>
      <div class="hero">
        <div>
          <h4>Im Victor, Designer and</h4>
          <h1>FULLSTACK<br />DEVELOPER</h1>
        </div>
        <img src="./assets/Asterisk.png" alt="asterisk" />
      </div>
    </div>
  </body>
</html>
