@use '../../base';

.hero {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 112px 48px;
  gap: 16px;

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      font-style: italic;
    }
    h1 {
      font-size: 6rem;
      font-weight: 800;
      line-height: 1.1;
    }
  }

  img {
    width: 48px;
    animation: 4s spin infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: 992px) {
  .hero {
    padding: 112px 32px;

    div {
      h1 {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 112px 16px;

    div {
      h1 {
        font-size: 2.5rem;
      }
      h4 {
        font-size: 1rem;
      }
    }

    img {
      width: 32px;
    }
  }
}
